{{# column }}
<td class="column" style="width:{{columnPercent}}%">
	<span data-index="{{ index }}">
		{{# removed }}<del>{{/ removed }}
			{{# data }}{{{ data }}}{{/ data }}
			{{^ data }}<strong>No value set</strong>{{/ data }}
		{{# removed }}</del>{{/ removed }}
	</span>
</td>
{{/ column }}