package {{{ packageName }}};

public class Translation {

	{{# namespaceClasses }}
	{{> namespace-class }}
	{{/ namespaceClasses }}

	public static class TranslatableConstant implements {{{ translationInterface }}} {
		private final String name;
		private final String namespace;
		private final String key;

		public TranslatableConstant(String name, String namespace, String key) {
			this.name = name;
			this.namespace = namespace;
			this.key = key;
		}

		@Override
		public String getTranslation({{{ localeInterface }}} loc) {
			return loc.translate(key, namespace);
		}

		@Override
		public String toString() {
			return getTranslation({{{ localeService }}}.getCurrentLocale());
		}

		@Override
		public String name() {
			return name;
		}
	}
}