package {{ packageName }};

import java.lang.reflect.Field;

public class Translation {

	{{# namespaceClasses }}
	{{> namespace-class }}
	{{/ namespaceClasses }}

	public static class TranslatableConstant implements {{translationInterface}} {
		private String name;
		private String namespace;
		private String key;

		public TranslatableConstant(String name, String namespace, String key) {
			this.name = name;
			this.namespace = namespace;
			this.key = key;
		}

		@Override
		public String getTranslation({{localeInterface}} loc) {
			return loc.translate(key, namespace);
		}

		@Override
		public String toString() {
			return getTranslation({{localeService}}.getCurrentLocale());
		}

		@Override
		public String name() {
			return name;
		}
	}
}