<table class="table table-hover table-striped">
	{{# header }}
	<tr>
		{{# heading }}
		<th>{{.}}</th>
		{{/ heading }}
	</tr>
	{{/ header }}
	{{# content }}
	{{> phrase-row }}
	{{/ content }}
</table>